<% if @revision %>
<h2> <%= @revision.number %>th <%= @revision.house.capitalize %> Members</h2>
<%= link_to @revision.house.eql?('loksabha') ? 'Rajyasabha Members' : 'Loksabha Members', :action => 'house', :house => (@revision.house.eql?('loksabha') ? 'rajyasabha' : 'loksabha'), :number => 15 %>
<% else %>
<h1>Listing candidates</h1>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Constituency</th>
    <th>Party</th>
  </tr>

<% for candidate in @candidates %>
  <tr>
    <td><%=h candidate.display_name %></td>
    <td><%=h candidate.constituency %></td>
    <td><%=h candidate.party %></td>
    <td><%= link_to 'Detail', candidate %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @candidates %>
<br />


